section.aboutremmy
    div.container
        p.aboutremmy__title About Remmy 
        p.aboutremmy__text Healthy skin is something everyone deserves
        p.aboutremmy__description We believe all of us have a right to radiant and healthy skin, free from pain, blemishes, or embarrassment.
        div.aboutremmy__row
            div.aboutremmy__img
                img(src="./assets/imgs/man.png", alt="man").aboutremmy__man
                img(src="./assets/imgs/violet-background.png", alt="remmy").aboutremmy__violet
            div.aboutremmy__info
                div.aboutremmy__body
                    span.aboutremmy__topic 
                        img(src="./assets/imgs/yoga.jpg", alt="yoga").aboutremmy__item
                    p.aboutremmy__title-new Listen to your body 
                    p.aboutremmy__text-new We believe that listening and trusting your body is the first step in reclaiming your skin health, and it’s our goal to give people the tools in which to do so.
                div.aboutremmy__love
                    span.aboutremmy__topic  
                        img(src="./assets/imgs/love.jpg", alt="love").aboutremmy__item
                    p.aboutremmy__title-new Don’t give up 
                    p.aboutremmy__text-new Just because you haven’t found a treatment for your skin condition yet, doesn’t mean it doesn’t exist. By working together, we can more quickly discover effective treatments for ourselves.