section.acne
    div.container
        div.acne__row
            div.acne__img
                img.acne__img-new(src='./assets/imgs/acne2.png', alt='acne')
            div.acne__info
                p.acne__theme Tracking
                p.acne__title Track Your Improvement
                p.acne__text1 Remmy helps people track their skin conditions over time so you can better understand what helps your skin and what makes it worse.
                p.acne__text2 This is powered by our proprietary algorithm that not only tracks your condition, but also measures the effectiveness of the various treatments and products you’re currently using.
        div.acne__row.acne__row--reverse
            div.acne__img.acne__img--reverse
                img.acne__img-new(src='./assets/imgs/h-acid.png', alt='h-acid')
            div.acne__info.acne__info--reverse
                p.acne__theme Treatments
                p.acne__title.acne__title--reverse Find Treatments That Actually Work
                p.acne__text1 Get access to already proven therapies for psoriasis, eczema, acne, and many other skin conditions. 
                p.acne__text2.acne__text2--reverse Remmy helps people find the most effective treatments, remedies, and products, so you’re not wasting time and money on the ones that don’t work.
        div.acne__row
            div.acne__img
                img.acne__img-new(src='./assets/imgs/doctors-note.png', alt='notes')
            div.acne__info
                p.acne__theme.acne__theme--support Support 
                p.acne__title.acne__title--support A community of skin care experts that have your back 
                p.acne__text1 Struggling with skin health can be overwhelming and isolating, whether you're dealing with scarring, wrinkles, or eczema. With Remmy, you don’t have to do it alone. 
                div.research__row
                    img(src="./assets/imgs/book.svg", alt="book").research__img
                    span.research__text Scientific research monitoring
                div.discovering__row
                    img(src="./assets/imgs/vase.svg", alt="vase").discovering__img
                    span.discovering__text Discovering new treatments    

    