section.conditions
    div.container
        p.conditions__title Conditions 
        p.conditions__text What skin conditions do you support? 
        p.conditions__description Whether you’re struggling with a chronic skin condition or fighting the effects of aging, we’ve got you covered.
        div.conditions-grid
            div.item.item--light-blue
                div
                    img.conditions__img-light-blue(src="./assets/imgs/plus-item.svg", alt="img")
                p.conditions__newtext Acne
            div.item.item--blue
                div
                    img.conditions__img-blue(src="./assets/imgs/plus-item.svg", alt="img")
                p.conditions__newtext Psoriasis
            div.item.item--violet
                div--violet
                    img.conditions__img-violet(src="./assets/imgs/plus-item.svg", alt="img")
                p.conditions__newtext Eczema
            div.item.item--pink
                div
                    img.conditions__img-pink(src="./assets/imgs/plus-item.svg", alt="img")
                p.conditions__newtext Dry Skin
            div.item.item--orange
                div
                    img.conditions__img-orange(src="./assets/imgs/plus-item.svg", alt="img")
                p.conditions__newtext Rosacea
            div.item.item--orange-light
                div
                    img.conditions__img-orange-light(src="./assets/imgs/plus-item.svg", alt="img")
                p.conditions__newtext Wrinkles
            div.item.item--yellow
                div.x
                    img.conditions__img-yellow(src="./assets/imgs/plus-item.svg", alt="img")
                p.conditions__newtext Keratosis
            div.item.item--green-light
                div
                    img.conditions__img-green-light(src="./assets/imgs/plus-item.svg", alt="img")
                p.conditions__newtext Stretch Marks
            div.item.item--green
                div
                    img.conditions__img-green(src="./assets/imgs/plus-item.svg", alt="img")
                p.conditions__newtext Spider Veins
            div.item1
                div
                    img.conditions__img-grey(src="./assets/imgs/plus-item.svg", alt="img")
                p.conditions__newtext And Many More Conditions...