section.eczema
    div.container
        div.eczema__row
            img(src="./assets/imgs/eczema.png", alt="eczema").eczema__img
            div.eczema__info
                p.eczema__title Social Biohacking
                h2 Test skin treatments with others
                p.eczema__text With social biohacking, you can build meaningful connections with people suffering from the same skin conditions as yourself.
                p.eczema__text You’ll be able to join together to test how effective treatments and products actually are, as well as help others by sharing the discoveries you’ve made from your own unique skin health journey.