section.first-section
    div.container
        div.first-section__row
            div.healthy-skin
                h1.healthy-skin__answers Finally get the answers needed for healthy skin
                p.healthy-skin__skincare Remmy helps you uncover the most effective skin care treatments by letting you test and track products with others.
                form(action="URL").email 
                    input(type='email' id="email" value='Enter email...')
                    button(name='button').healthy-skin__button Request Invite
            img(src="./assets/imgs/girl.png", alt="nicegirl").first-section__img 