footer.footer
    div.container
        div.footer__flex
            div.footer__info
                p.footer__text Copyright Remmy 2021, all rights reserved. 
                p.footer__text This site is protected by reCAPTCHA and the Google  
                p.footer__text Privacy Policy and Terms of Service apply.
            div.footer__contact
                span.footer__contactinfo Terms 
                span.footer__contactinfo Privacy 
                span.footer__contactinfo Contact Us