header.header 
    div.container
        div.header__row
            a(href="#").logo
                img(src="./assets/imgs/logo.svg", alt="Logo").logo__img
            a(href="#").link-header For Patients
            a(href="#").link-header For Doctors
            a(href="#").link-header.link-header--right Request Invite  
        