section.robynkutka
    div.container
        h4 Stop accepting the idea that your skin condition isn't curable. Healthy skin is everyone's birthright.
        div.robynkutka__about
            img(src="./assets/imgs/robynkutka.svg", alt="robynkutka").robynkutka__img
            span.robynkutka__info Dr. Robyn Kutka,
            span.robynkutka__info Chief Medical Officer  
            