// переменные 
//GRID
//точки адаптива
$lg: 1130px;
$md: 1024px;
$sm: 768px;
$xs: 576px;


//Цвета макета
$c-primary: #071330;//основной цвет макета
$c-secondary: #3D55F9;//дополнительный цвет макета
$c-text: #071330;//доп. цвет1
$c-text2: #F0BCA3;//доп. цвет2


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Roboto', sans-serif;//основной
$headers-font: 'Roboto', sans-serif;//для заголовков
$secondary-font: 'Roboto', sans-serif;//дополнительный
